@import url('tailwind.css');
@import url('main.js');
@import url('menu.css');
@import url('swiper.js');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('bmw.css');
@import url('mers.css');
@import url('rolls.css');
@import url('swiper.css');
@import url('lamborghini.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Orbitron:wght@400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Kaushan+Script&family=Luxurious+Script&family=Orbitron:wght@400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-shadow {
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
}

.line-height {
    line-height: 50px;
}

.kaushan-fonts {
    font-family: Kaushan Script;
}

.text-nuqta-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-nuqta-7 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}